@model Register_with_address.Models.ViewModel.ErrorViewModel

<h1 class="text-danger">@Model.Message</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

