@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <div class="form-group">
        <a asp-controller="Enderecos" asp-action="Create" class="btn btn-primary">Cadastre seu endereço</a>
    </div>
</div>
