@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="form-group">
        <a asp-controller="Pessoas" asp-action="Create" class="btn btn-primary">Cadastre-se</a>
    </div>
</div>
